html {
    background-image: url(https://fotomelia.com/wp-content/uploads/2016/06/images-gratuites-creative-commons-cco-112-1560x1120.jpg);
    background-size: 100vw;
    background-position: 0vw 0vw;
    background-repeat: no-repeat;
    background-color: white;
    cursor: url(../images/ICONE_FLECHE_ROUGE.svg.png) 2 2, pointer;
}

#code {
    display: block;
    width: inherit;
    height: inherit;
    color: white;
    font-size: 1.5vw;
    background-color: black;
    font-family: pixel;
    font-weight: 200;
}

#stop {
    display: block;
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-size: 2vw;
    left: 74vw;
    top: 48vw;
    background-image: url(../images/power.png);
}

header {
    display: block;
    /*la balise est de type bloc*/
    width: 50vw;
    /*largeur de la balise*/
    height: 12vw;
    /*hauteur de la balise*/
    color: black;
    /*Rouge, Vert, Bleu, Alpha*/
    font-size: 5.5vw;
    /*taille de la police*/
    text-align: center;
    /*centrer la texte dans son bloc*/
    /*on centre la balise dans la page*/
    margin-left: auto;
    margin-right: auto;
    line-height: 12vw;
    /*règle l'alignement verticale car la hauteur de ligne est égale à la hauteur du bloc
    border-radius: 20px;0/
    /*arrodir les coins*/
    background-color: rgba();
    font-family: dark;
    background-image: url(https://thumbs.gfycat.com/CharmingMilkyHamster-max-1mb.gif);
    background-size: 13vw;
    background-repeat: no-repeat;
    text-shadow: 8px 8px 8px rgba(55, 55, 55, 0.8);
}

@font-face {
    font-family: 'dark';
    src: url(../fonts/dark.otf);
}

@font-face {
    font-family: 'pixel';
    src: url(../fonts/pixel.ttf);
}

@font-face {
    font-family: 'script';
    src: url(../fonts/script.otf);
}

ul>li {
    display: inline-block;
    border-style: ridge;
    width: 9vw;
    height: 2.5vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;
    text-align: left;
    line-height: 2.5vw;
    font-family: dark;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    margin-left: auto;
    margin-right: 0.5vw;
    box-shadow: 4px 4px 4px gray;
}

.menu {
    color: black;
    border-color: white;
    background-image: url(../images/python.png);
    background-size: 2.3vw;
    padding-left: 1vw;
    background-position: 7.2vw 0.12vw;
    background-repeat: no-repeat;
    background-color: rgba(150, 150, 150, 0.8);
    /*cursor: url() 2 2, pointer;*/
}

.menu:hover {
    box-shadow: none;
    background-color: rgba(150, 150, 55, 0.5);
}

nav {
    display: block;
    position: absolute;
    top: 45.7vw;
    width: 70vw;
    /*border: solid;*/
    padding: 0;
}

ul {
    display: block;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 26vw;
    /*border: solid;*/
}

section {
    display: block;
    width: 48vw;
    height: 30vw;
    color: white;
    font-size: 3vw;
    text-align: center;
    background-color: rgba(150, 160, 150, 0.6);
    margin-top: 2vw;
    margin-left: 25vw;
    box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.3);
}

#section2,
#section3,
#section4 {
    display: none;
}


/* Responsive Web Design : RWD */

@media only screen and (max-width: 1000px) {
    ul>li {
        display: block;
        width: 40vw;
        height: 5vw;
        line-height: 5vw;
        font-size: 4vw;
        text-align: center;
    }
    nav,
    ul {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        top: 60vw;
        width: 96vw;
    }
    ul {
        width: 42vw;
    }
    .menu {
        background-size: 5vw;
        background-position: 3vw;
    }
    #code {
        font-size: 1.5vw;
    }
}
