header{
    display:block;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1vw;
    background-color: aqua;
}

section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    justify-items: center;
    background-color:cadetblue;
}

article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    background-color: aqua;
}

table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
}


#humain{
    grid-area: humain;
    background-image: url(../images/feuille.png);
    background-size:cover;
}

#ordinateur{
    grid-area: ordinateur;
    background-image: url(../images/lezard.png);
    background-size:cover;
}

tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-areas: ". humain  .  ordinateur ."
}

th {
    display: block;
    width: 17vw;
    height: 17vw;
    background-color: antiquewhite;
}
